@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="alert alert-danger">
    <h4 class="alert-heading">Error</h4>
    <p>Ha ocurrido un error inesperado. Por favor, intente más tarde.</p>
    <hr>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
